name: Liquidation Reconstitution E2E tests

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
    inputs:
      network:
        description: 'Select the blockchain network for testing'
        required: false
        default: 'emerynet'
        type: choice
        options:
          - local
          - emerynet
      user1_mnemonic:
        description: 'The mnemonic phrase for the account to be used for vaults'
        required: false
        type: string
      user1_address:
        description: 'user1 account address'
        required: false
        type: string
      bidder_mnemonic:
        description: 'The mnemonic phrase for the account used for bidding'
        required: false
        type: string
      bidder_address:
        description: 'bidder account address'
        required: false
        type: string
      base_image:
        description: 'Base image tag for agoric-sdk'
        required: false
        default: latest
        type: string
  pull_request:
    types:
      - labeled

concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  run-e2e:
    if: github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' || contains(github.event.label.name, 'liquidation-reconstitution-testing')
    uses: ./.github/workflows/reusable-workflow.yml
    with:
      docker_compose_command: |
        docker compose -f test/e2e/docker-compose-reconstitution.yml \
        --profile synpress up --build \
        --exit-code-from synpress
      is_emerynet_test: ${{ inputs.network == 'emerynet' }}
      user1_mnemonic: ${{ inputs.user1_mnemonic }}
      user1_address: ${{ inputs.user1_address }}
      bidder_mnemonic: ${{ inputs.bidder_mnemonic }}
      bidder_address: ${{ inputs.bidder_address }}
      base_image: ${{ inputs.base_image || 'latest' }}

    secrets: inherit
